.row {
    margin-left: 20px;
}

.row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-posterLarge {
    max-height: 250px;
}

.row-posterLarge:hover {
    transform: scale(1.09);
}

.row-poster:hover {
    transform: scale(1.08);
}